@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px) rotate(-5deg);
  }
  40% {
    transform: translateX(5px) rotate(5deg);
  }
  60% {
    transform: translateX(-5px) rotate(-5deg);
  }
  80% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0);
  }
}
.deleteButton {
  font-size: 50px;
  transition: 0.3s;
}
.deleteButton:hover {
  color: red;
  transform: scale(1.1);
  animation: shake 0.5s infinite;
}
