.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  margin-bottom: 100px;
}
.cards{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  width: 75%;
  flex-wrap: wrap;
  position: sticky;
}
.add {
  padding: 40px;
  position: relative;
}
.sort{
  padding: 40px;
}
.openButton{
  font-size: 20px;
  
}
.bottonOpenSortWindow{
  font-size: 20px;
}