.cards{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  width: 75%;
  flex-wrap: wrap;
}
.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}
.closeButton{
  border-radius: 20px;
  background-color: black;
  color: white;
}
.add {
  border: 1px solid black;
  padding: 10px 35px 10px 35px;
  border-radius: 20px;
  margin-top: 10px;
}
.openButton{
  border-radius: 20px;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  padding: 3px;
  margin-top: 10px;
}