.add{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.body {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
.cardContainer{
    width: 700px;
    height: 550px;
    margin: 3%;
}