.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}
.info{
    background-color: #f3f4f6;
}
.money{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addMonay{
    border: 1px solid black;
}