.money{
    display: flex;
    flex-direction: row;
    background-color: #e9e3e3;
    border-radius: 20px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    border: 1px solid gray ;
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
}
img {
    width: 115px;
    height: 135px;
}
.btn{
    text-align: center;
}
.btn button{
    padding: 5px 75px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}
.btn button:hover{
    background-color: black;
    color: white;
    border: 1px solid orange;

}
.jarGoal p, .jarAmount p {
    font-size: 14px;
    padding: 0px auto;
    text-align: center;
}
